* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: blanchedalmond;
}

h1 {
    padding: 15px;
    text-align: center;
    color: aliceblue;
    background-color: rgb(14, 160, 14);
}

.app {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    min-height: 100vh;
}

.search-area {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 8px;
}

.search-area input {
    width: 50%;
    padding: 2px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: medium;
}

.search-area select {
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: medium;
}

.search-area button {
    padding: 3px;
    background-color: blue;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;
}

.search-area button:hover {
    background-color: rgb(0, 234, 255);
}

.results {
    display:flex;
    flex-direction: column;
    gap: 8px;
}

.cpu-card {
    display: flex;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cpu-card span {
    margin: 15px;

}

.cpu-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);;
}

.detail {
    background-color: aliceblue;
    border-radius: 15px;
    text-align: left;
}

.detail h2 {
    background-color: lightgreen;
}